/*===== COLORS =====*/
/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 40px 0px;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #372e2e;
}

.header-top {
  padding: 30px 0px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-brand {
  margin-right: 76px;
}

.header .navbar-functions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-functions ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #372e2e;
}

.header .navbar-functions ul li a span {
  margin-right: 8px;
}

.header .navbar-functions ul li:nth-child(2) {
  margin-left: 60px;
}

.header .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-links li {
  margin-right: 65px;
}

.header .navbar-links li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #372e2e;
}

.header-bottom {
  background-color: #ff9033;
}

.header-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .wrapper-dropdown {
  padding: 25px 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-bottom .wrapper-dropdown:hover {
  background-color: #ff841d;
}

.header-bottom .wrapper-dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .wrapper-dropdown-link span {
  margin-right: 25px;
}

.header-bottom .wrapper-dropdown-link a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header-bottom .wrapper-search {
  margin-left: 45px;
}

.header-bottom .wrapper-search input {
  width: 525px;
  height: 36px;
  border: none;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

.header-bottom .wrapper-search input:focus {
  outline: none;
}

.header-bottom .wrapper-search input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ff841d;
}

.header-bottom .wrapper-search input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ff841d;
}

.header-bottom .wrapper-search input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ff841d;
}

.header-bottom .wrapper-search input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ff841d;
}

.header-bottom .wrapper-language {
  margin-left: 99px;
}

.header-bottom .wrapper-language select {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  outline: none;
}

.header-bottom .wrapper-language select option {
  color: #372e2e;
}

.header-bottom .wrapper-functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
}

.header-bottom .wrapper-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .wrapper-wishlist-image {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.header-bottom .wrapper-wishlist p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header-bottom .wrapper-wishlist p span {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.7;
}

.header-bottom .wrapper-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 55px;
}

.header-bottom .wrapper-cart-image {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.header-bottom .wrapper-cart p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header-bottom .wrapper-cart p span {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.7;
}

.header-bottom .wrapper-cart p .valute {
  opacity: 1;
}

.cart-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.cart-card {
  width: 330px;
  height: 340px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
          box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
  border-radius: 3px;
  margin-right: 30px;
  padding: 25px;
  position: relative;
}

.cart-card:nth-child(4) {
  margin-right: 0;
}

.cart-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
}

.cart-product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #372e2e;
  margin-top: 15px;
  position: absolute;
}

.cart-functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.cart-product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff9033;
  display: block;
}

.cart-product-price span {
  font-weight: 400;
}

.cart-add-btn {
  background-color: #ff9033;
  border: none;
  outline: none;
  display: block;
  padding: 9px 15px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.cart-add-btn:hover {
  background-color: #ff841d;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */